* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  line-height: 1.6;
  flex-direction: column;
  min-height: 100vh;
}
/* I tried recreating the navbar we made  */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  padding: 20px 30px;
  color: #fff;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 0;
}
.nav-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.nav-links a {
  position: relative;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.nav-links a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: rgb(0, 255, 225);
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}
.nav-links a:hover::after {
  width: 100%;
  left: 0;
}
.nav-links li {
  margin: 0 15px;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #fff;
  padding: 20px 0;
  margin-top: auto;
}
.footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}
.footer li {
  list-style: none;
  margin: 0 10px;
  font-size: 1.5rem;
}
.socials a {
  font-size: 3rem;
}
footer {
  background-color: #333;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
#hero {
  height: 100vh;
  background: url(../images/hero\ bg.jpg) no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: #fff; */
  text-align: center;
  & h1 {
    font-size: 4rem;
    margin-bottom: 20px;
  }
  & h3 {
    font-size: 2rem;
    margin-bottom: 30px;
  }
}
.herocard{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(1, 160, 139);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}
.btn:hover {
  background-color: rgb(2, 137, 139);
}
/* .img{
    background-color: #555;
    width: 30vw;
    height: 30vw;
} */
